{%extends 'Router.html'%}
{%block title%}Online Library{%endblock%}
{%block body%}
<div class="bg-black-image2 p-4 w-full h-full">
    <div class="container p-4 w-full flex flex-col lg:flex-row items-center justify-between mt-16 mx-auto">
        <div class="px-2 py-6 lg:w-[calc(100%-28rem)]">
            <div class="flex items-center justify-center font-bold text-gray-700 text-4xl sm:text-6xl p-2">
                <div class="w-10 h-10 sm:w-14 sm:h-14 border-2 border-black mr-1 mt-1 rounded-full overflow-hidden">
                    <img src="../static/Media/bga2.jpg" alt="..." class="w-full h-full">
                </div>
                nline Library
            </div>
            <h6 class="text-2xl text-center m-2 font-medium text-gray-500">(Download and preview soft copy of books)</h6>
            <form class="flex items-center w-11/12 md:w-3/4 mx-auto mt-10">
                <label for="voice-search" class="sr-only">Search</label>
                <div class="relative w-full">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <input type="text" id="voice-search"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Search Mockups, Logos, Design Templates..." required="">
                    <button type="button" class="flex absolute inset-y-0 right-0 items-center pr-3">
                        <svg aria-hidden="true"
                            class="w-4 h-4 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white"
                            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7 4a3 3 0 016 0v4a3 3 0 11-6 0V4zm4 10.93A7.001 7.001 0 0017 8a1 1 0 10-2 0A5 5 0 015 8a1 1 0 00-2 0 7.001 7.001 0 006 6.93V17H6a1 1 0 100 2h8a1 1 0 100-2h-3v-2.07z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
        <div class="mx-auto lg:ml-12 lg:w-[28rem] h-full">
            <img src="../static/Media/bg2.png" class="w-72 xl:w-80 xl:h-80" alt="">
        </div>
    </div>
    <!-- component -->
    <div class="container shadow-2xl w-4/5 mx-auto h-full bg-black-image my-4 overflow-hidden rounded">
        <dh-component>
            <div class="flex flex-no-wrap">
                <!-- Sidebar starts -->
                <!-- Remove class [ hidden ] and replace [ sm:flex ] with [ flex ] -->
                <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
                
                
                <!-- Sidebar ends -->
                <!-- Remove class [ h-64 ] when adding a card block -->
                <div class="container mx-auto shadow pb-10 w-[90%]">
                    <div class="flex w-1/2 mx-auto relative my-5">
                        <div class="text-gray-300 absolute ml-4 inset-0 m-auto w-4 h-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search"
                                width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                <circle cx="10" cy="10" r="7"></circle>
                                <line x1="21" y1="21" x2="15" y2="15"></line>
                            </svg>
                        </div>
                        <input
                            class="w-full focus:outline-none focus:ring-1 focus:ring-gray-100 rounded text-sm text-gray-300 placeholder-gray-400 bg-gray-100 pl-10 py-3"
                            type="text" placeholder="Search">
                    </div>

                    {% for i in "Ayush" %}
                    <div></div>
                    <div
                        class="scrollbar flex w-full h-72 snap-x snap-mandatory rounded bg-black-image1 shadow-inner drop-shadow-2xl border-gray-300 overflow-y-hidden">
                        <!-- Place your content here -->
                            {% for i in "AyushSharma" %}
                            <div class="shadow-inner snap-start shrink-0 first:pl-8 last:pr-8 m-2 mx-4">
                                <img class="shrink-0 h-[80%] mt-8 hover:scale-105 duration-300"
                                    src="../static/Media/book4.jpg">
                            </div>
                            {% endfor %}
                        <!-- <div class="h-full">
                            <img src="../static/Media/book2.png" alt="..." class="h-[90%] mt-4">
                        </div> -->

                        <!-- <div class="w-32 h-full">
                            <img src="../static/Media/book2.png" alt="..." class="w-full h-[90%] mt-4">
                        </div> -->
                    </div>
                    <div class="w-full h-6 shadow-2xl"></div>
                    {% endfor %}
                </div>
            </div>
            <script>
                var sideBar = document.getElementById("mobile-nav");
                var openSidebar = document.getElementById("openSideBar");
                var closeSidebar = document.getElementById("closeSideBar");
                sideBar.style.transform = "translateX(-260px)";

                function sidebarHandler(flag) {
                    if (flag) {
                        sideBar.style.transform = "translateX(0px)";
                        openSidebar.classList.add("hidden");
                        closeSidebar.classList.remove("hidden");
                    } else {
                        sideBar.style.transform = "translateX(-260px)";
                        closeSidebar.classList.add("hidden");
                        openSidebar.classList.remove("hidden");
                    }
                }
            </script>

        </dh-component>
    </div>
</div>
{% endblock %}