{%extends 'Router.html'%}
{%block title%}Online Library{%endblock%}
{%block body%}
<div class="bg-[#966F33] p-4 w-full flex items-center justify-between mt-16">
  <div class="px-2 py-6 w-[calc(100%-28rem)]">
    <div class="flex items-center justify-center font-bold text-white text-6xl p-2">
      <div class="w-14 h-14 border-2 border-black mr-1 mt-1 rounded-full overflow-hidden">
        <img src="../static/Media/bga2.jpg" alt="..." class="w-full h-full">
      </div>
      nline Library
    </div>
    <h6 class="text-2xl text-center m-2 font-medium text-white">(Download and preview soft copy of books)</h6>
    <form class="flex items-center w-11/12 md:w-3/4 mx-auto mt-10">
      <label for="voice-search" class="sr-only">Search</label>
      <div class="relative w-full">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
          <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <input type="text" id="voice-search"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Search Mockups, Logos, Design Templates..." required="">
        <button type="button" class="flex absolute inset-y-0 right-0 items-center pr-3">
          <svg aria-hidden="true"
            class="w-4 h-4 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white"
            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M7 4a3 3 0 016 0v4a3 3 0 11-6 0V4zm4 10.93A7.001 7.001 0 0017 8a1 1 0 10-2 0A5 5 0 015 8a1 1 0 00-2 0 7.001 7.001 0 006 6.93V17H6a1 1 0 100 2h8a1 1 0 100-2h-3v-2.07z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
    </form>
  </div>
  <div class="ml-12 w-[28rem] h-full">
    <img src="../static/Media/bg2.png" class="w-96 h-96" alt="">
  </div>
</div>

<div class="container flex flex-col items-center justify-center h-full mx-auto mt-4">
  {% for i in "Ayush" %}
  <div class="max-w-[1080px] my-12 mx-4 text-center relative">
    <div class="w-full z-[2] relative -translate-y-4">
      <div class="snap-x flex mx-auto overflow-y-hidden overflow-x-auto mb-2 shadow-inner">
        {% for i in "AyushSharma" %}
        <div class="snap-center mx-2 justify-self-center">
          <img src="https://images-na.ssl-images-amazon.com/images/I/51uLvJlKpNL._SX321_BO1,204,203,200_.jpg"
            class="block shadow-lg min-w-[200px] max-w-[210px] h-[300px] object-cover hover:scale-105 duration-500" />
        </div>
        {% endfor %}
      </div>
      <div class="shelf-shadows"></div>
      <div class="shelf"></div>
      <button
        class="absolute left-0 top-[40%] z-10 flex h-9 w-9 items-center justify-center rounded-full bg-gray-100 shadow-md active:translate-y-[2px]">
        <svg class="h-6 w-6 font-bold text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M15 19l-7-7 7-7"></path>
        </svg>
      </button>
      <button
        class="absolute right-0 top-[40%] z-10 flex h-9 w-9 items-center justify-center rounded-full bg-gray-100 shadow-md active:translate-y-[2px]">
        <svg class="h-6 w-6 font-bold text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M9 5l7 7-7 7"></path>
        </svg>
      </button>

    </div>
  </div>
  {% endfor %}
  {% endblock %}