{% extends 'Profile.html' %}
{% block Eprofile %}
<!-- component -->
<!-- This is an example component -->

<div class="block place-items-center max-h-full w-full md:w-[calc(100%-20rem)] mt-24 lg:mt-0 ml-auto mr-0">

    <div class="border-b-2 block lg:flex m-4">

        <div class="w-full lg:w-2/5 p-4 sm:p-6 lg:p-8 bg-white shadow-md">
            <div class="flex justify-between">
                <span class="text-xl font-semibold block">My Profile</span>
            </div>

            <span class="text-gray-600">This information is secret so be careful</span>
            <div x-data="{photoName: null, photoPreview: null}">
                <!-- Photo File Input -->
                <input type="file" class="hidden" x-ref="photo" x-on:change="
                                    photoName = $refs.photo.files[0].name;
                                    const reader = new FileReader();
                                    reader.onload = (e) => {
                                        photoPreview = e.target.result;
                                    };
                                    reader.readAsDataURL($refs.photo.files[0]);
                ">
                <div class="text-center">
                    <!-- Current Profile Photo -->
                    <div class="w-full p-8 mx-2 flex justify-center" x-show="! photoPreview">
                        <img id="showImage" class="max-w-xs w-32 items-center border rounded-lg"
                            src="https://cdn.pixabay.com/photo/2014/04/02/10/54/person-304893__340.png"
                            alt="">

                    </div>

                    <div class="flex items-center justify-center ">
                        <button type="button"
                            class="hover:shadow-lg hover:-translate-y-1 hover:shadow-yellow-500/50 bg-transparent mx-2 my-2 text-lg font-medium border hover:border-gray-900 border-gray-400 duration-500 py-2 px-3 rounded active:translate-y-[1px]"
                            x-on:click.prevent="$refs.photo.click()">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Change
                        </button>
                        <button
                            class="hover:shadow-lg hover:-translate-y-1 hover:shadow-yellow-500/50 bg-transparent mx-2 my-2 text-lg font-medium border hover:border-gray-900 border-gray-400 duration-500 py-2 px-3 rounded active:translate-y-[1px]">
                             <i class="fa-solid fa-trash"></i> 
                              Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-3/5 p-8 bg-white lg:ml-4 shadow-md">
            <div class="rounded  shadow p-6">
                <div class="pb-6">
                    <label for="name" class="font-semibold text-gray-700 block pb-1">First Name</label>
                    <div class="flex">
                        <input id="username" class="border-1  rounded-r px-4 py-2 w-full" type="text" value={{user.first_name}} />
                    </div>
                </div>
                <div class="pb-4">
                    <label for="name" class="font-semibold text-gray-700 block pb-1">Last Name</label>
                    <div class="flex">
                        <input id="username" class="border-1  rounded-r px-4 py-2 w-full" type="text"
                            value={{user.last_name}} />
                    </div>
                </div>
                <div class="pb-4">
                    <label for="about" class="font-semibold text-gray-700 block pb-1">Email</label>
                    <input id="email" class="border-1  rounded-r px-4 py-2 w-full" type="email"
                        value={{user.email}} />
                    <span class="text-gray-600 pt-4 block opacity-70">Personal login information of your account</span>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}