{%extends 'Router.html'%}
{%block title%}Online Library{%endblock%}
{%block body%}
<div class="w-full h-full">
  <div class="w-full h-full place-items-center pt-24 bg-gray-200">
    <div class="flex items-center justify-center text-6xl p-2 text-black">
      <div class="w-12 h-12 border-2 border-black mr-1 mt-1 rounded-full overflow-hidden">
        <img src="../static/Media/bga2.jpg" alt="..." class="w-full h-full">
      </div>
      nline Library
    </div>
    <h6 class="text-xl text-center m-2 font-medium text-red-600">(Download and preview soft copy of books)</h6>

    <form class="flex items-center w-11/12 md:w-2/5 mx-auto mt-10">
      <label for="voice-search" class="sr-only">Search</label>
      <div class="relative w-full">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
          <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <input type="text" id="voice-search"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Search Mockups, Logos, Design Templates..." required="">
        <button type="button" class="flex absolute inset-y-0 right-0 items-center pr-3">
          <svg aria-hidden="true"
            class="w-4 h-4 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white"
            fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M7 4a3 3 0 016 0v4a3 3 0 11-6 0V4zm4 10.93A7.001 7.001 0 0017 8a1 1 0 10-2 0A5 5 0 015 8a1 1 0 00-2 0 7.001 7.001 0 006 6.93V17H6a1 1 0 100 2h8a1 1 0 100-2h-3v-2.07z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
      <button type="submit"
        class="inline-flex items-center py-2.5 px-3 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <svg aria-hidden="true" class="mr-2 -ml-1 w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>Search
      </button>
    </form>
  </div>
  <div class="py-3 lg:py-4 xl:py-6 bg-black bg-opacity-10">
    <div class="container py-5 mt-1 mb-2 mt-sm-2 mb-sm-3 mt-md-3 mb-md-4 my-lg-4 my-xl-5 mx-auto">
      <div class="text-5xl leading-5 font-medium text-black text-center m-3 my-12 uppercase italic underline-offset-2">Libraray</div>
      {% for i in "AyushSharma" %}
      <div class="w-full bg-gray-900 border-[15px] border-b-[2px] border-gray-500 shadow-xl p-2 pb-0">
        <div class="w-full shadow-inner h-60">
          <div class="flex justify-center w-full h-full pt-11 overflow-hidden">
            {% for i in "AyushSharmaAy" %}
            <div
              class="flex w-10 h-[200px] border-l-2 border-r-2 bg-green-500 border-l-green-400 border-green-600 text-white font-medium hover:scale-[1.02]">
              <h2 class="w-full text-lg font-medium text-center px-4" style="transform-origin: 0% 0%;
                transform: rotate(0.25turn) translateY(-34px);">Mathematics</h2>
            </div>
            {% endfor %}
            <div class="mx-2 border-2 w-40 h-full">
              <img src="../static/Media/book1.jpg" alt="" class="w-full h-full">
            </div>
            {% for i in "AyushSharmaAy" %}
            <div
              class="flex w-10 h-[200px] border-l-2 border-r-2 bg-green-500 border-l-green-400 border-green-600 text-white font-medium hover:scale-[1.02]">
              <h2 class="w-full text-lg font-medium text-center px-4" style="transform-origin: 0% 0%;
                transform: rotate(0.25turn) translateY(-34px);">Mathematics</h2>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="w-full bg-gray-900 border-[15px] border-b-[2px] border-gray-500 shadow-xl"></div>
    </div>
  </div>
</div>
{%endblock%}