{% extends 'Book.html' %}
{% block comment %}
<section class="py-1 lg:py-2 max-h-[20rem] overflow-y-scroll scrollbar1">
    {% for j in Comment  %}
    <div class="max-w-2xl mx-auto px-4">
        <article class="p-6 mb-6 text-base rounded-lg border-b">
            <footer class="flex justify-between items-center mb-2">
                <div class="flex items-center">
                    <p class="inline-flex items-center mr-3 text-sm">
                        <img class="mr-2 w-6 h-6 rounded-full"
                            src="https://flowbite.com/docs/images/people/profile-picture-2.jpg" alt="Michael Gough">
                        {{j.Commentby.first_name}} {{j.Commentby.last_name}}
                    </p>
                    <p class="text-sm">
                        <time pubdate datetime={{j.Date}} title="February 8th, 2022">{{j.Date}}</time>
                    </p>
                </div>
                {% if j.Commentby == request.user %}
                <button class="active:translate-y-[1px]" type="button">
                    <i class="fa-sm fa-solid fa-trash-can"></i>
                </button>
                {% endif %}
                
            </footer>
            <p class="font-sans">{{j.Comments}}</p>
        </article>
    </div>
    {% endfor %}
</section>
{% endblock %}