<!doctype html>
{% load tailwind_tags %}
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/static/Media/Ebook.png">
  <title class="font-bold">{%block title%}{%endblock%}</title>
  {% tailwind_css %}
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="/static/CSS/lib.js"></script>
  <link rel="stylesheet" href="/static/CSS/Home.css">
  <script src="https://kit.fontawesome.com/5162bc258a.js" crossorigin="anonymous"></script>
</head>

<body class="bg-gray-800 text-blue-100 scrollbar scroll-smooth" style="font-family:cursive">

  <nav class="fixed top-0 w-full z-[9999] px-2 sm:px-4 py-1.5 bg-transparent clearNav">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <a href="/" class="flex items-center text-orange-500">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" viewBox="0 0 90.953 90.953" style="enable-background:new 0 0 90.953 90.953;"
          class="text-white w-6 md:w-10 h-6 md:h-9 mr-3 inline-block" xml:space="preserve">
          <g>
            <path style="fill:#53b6eb;" d="M20.389,0.004l-10.157,9.48v81.469h60.332v-2.441l7.934-7.047h2.222V0L20.389,0.004L20.389,0.004z
		 M70.564,86.605v-5.132v-1.432V9.488H21.82h-1.432h-5.315l0.365-0.358l0.365-0.358l3.869-3.794l0.358-0.354l0.358-0.351
		l1.031-1.009l0.401,0.011V2.87l0.036-0.036h56.181v77.131l-0.082,0.075l-1.61,1.432L70.564,86.605z" />
          </g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </svg>
        <span class="self-center text-xl font-semibold whitespace-nowrap ">EBook Library</span>
      </a>
      <div class="flex items-center md:order-2 relative group">
        {% if user.is_authenticated %}
        <a href="/profile" class="mr-3 text-base bg-[#ff871c] rounded-full md:mr-0" id="user-menu-button"
          aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
          <span class="sr-only">Open user menu</span>
          <img class="w-11 h-11 rounded-full" src="../static/Media/bg1.jpg" alt="user photo">
        </a>

        {% else %}
        <a href="/login"
          class="hover:shadow-lg hover:-translate-y-1 text-white hover:shadow-orange-500/50 bg-transparent mx-2 text-lg font-normal duration-500 py-3 px-4 rounded cursor-pointer active:translate-y-[2px]">Login
        </a>
        {% endif %}
        <button data-collapse-toggle="mobile-menu-2" type="button"
          class="inline-flex items-center p-2 ml-1 text-base text-white rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
          aria-controls="mobile-menu-2" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
      <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2"
        style="font-family: system-ui;">
        <ul
          class="flex flex-col p-4 mt-4 rounded-lg border md:bg-slate-200 border-gray-100 md:flex-row md:space-x-8 md:mt-0 text-black">
          <li>
            <a href="/" class="font-medium block py-2 pr-4 pl-3 rounded md:hover:text-[#674318] md:p-0"
              aria-current="page">Home</a>
          </li>
          <li>
            <a href="/other" class="font-medium block py-2 pr-4 pl-3 rounded md:hover:text-[#674318] md:p-0">About</a>
          </li>
          <li>
            <a href="#" class="font-medium block py-2 pr-4 pl-3 rounded md:hover:text-[#674318] md:p-0">Services</a>
          </li>
          <li>
            <a href="#" class="font-medium block py-2 pr-4 pl-3 rounded md:hover:text-[#674318] md:p-0">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    
  </nav>
  {% if Message %}
    <div class="flex justify-between fixed top-[4.5rem] text-xl bg-green-700 py-3 px-4 z-[100] w-full">
      {{Message}}
      <button onclick="location.href='/closemessage'"><i class="fa-solid fa-xmark"></i></button>
    </div>
    {% endif %}
  {%block body%}{%endblock%}
  <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
</body>

</html>