{%extends 'Profile.html'%}
{%block upload%}

<section class="text-gray-600 body-font w-full max-h-full md:w-[calc(100%-20rem)] mt-28 md:mt-12 ml-auto mr-0">
    <div class="px-2 h-full">
        <form action="/upload" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="max-w-md mx-auto bg-gray-800 shadow-md shadow-blue-600 rounded-lg overflow-hidden md:max-w-lg">
                <div class="md:flex">
                    <div class="w-full shadow-lg shadow-blue-600">
                        <div class="p-4 border-b-2">
                            <span class="text-lg font-bold text-gray-300">Add documents</span>
                        </div>

                        <div class="p-3 text-gray-200">
                            <div class="mb-2">
                                <span class="text-base font-medium">Title</span>
                                <input type="text" name="Title" id="Title"
                                    class="shadow-inner h-12 px-3 w-full border-gray-800 border rounded bg-gray-900 focus:outline-none focus:border-gray-300">
                            </div>
                            <div class="mb-2">
                                <span class="text-base font-medium">Author</span>
                                <input type="text" name="Author" id="Author"
                                    class="shadow-inner h-12 px-3 w-full border-gray-800 border rounded bg-gray-900 focus:outline-none focus:border-gray-300">
                            </div>
                            <div class="mb-2">
                                <span class="text-base font-medium">Category</span>
                                <input type="text" name="Category" id="Category"
                                    class="shadow-inner h-12 px-3 w-full border-gray-800 border rounded bg-gray-900 focus:outline-none focus:border-gray-300">
                            </div>
                            <div class="mb-2">
                                <span class="text-base font-medium">Cover page</span>
                                <input type="file" name="Cover" id="Cover"
                                    class="shadow-inner h-12 px-3 pt-2 w-full border-gray-800 border rounded bg-gray-900 focus:outline-none focus:border-gray-300">
                            </div>
                            <div class="mb-2">
                                <span class="text-base font-medium">Attach pdf</span>
                                <input type="file" name="pdf" id="pdf"
                                    class="shadow-inner h-12 px-3 pt-2 w-full border-gray-800 border rounded bg-gray-900 focus:outline-none focus:border-gray-300">
                            </div>
                            <div class="mb-2">
                                <span class="text-base font-medium">Description</span>
                                <textarea name="desc" id="desc" class="w-full bg-gray-900 rounded px-1 focus:outline-none border-gray-800 min-h-[5rem] focus:border-gray-300"></textarea>
                                <!-- <textarea name="desc" id="desc"
                                    class="px-3 pt-2 w-full border-gray-800 border rounded focus:outline-none bg-gray-900 focus:border-gray-300"
                                    placeholder="Description">
                                </textarea> -->
                            </div>
                            <div class="mt-3 text-center pb-3">
                                <input type="submit"
                                    class="w-full h-12 text-lg md:w-32 bg-blue-600 rounded text-white hover:bg-blue-700"
                                    value="Upload">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container p-5 mx-auto h-full">
        <div class="flex flex-col text-center w-full my-20">
            <h1 class="text-2xl sm:text-5xl font-bold title-font text-gray-200 underline underline-offset-8">My Uploads</h1>
        </div>
        <div class="grid grid-cols-1 xs:grid-cols-2 xl:grid-cols-3 gap-2 my-4 place-items-center">
            {% for i in myupload  %}
            <div class="relative w-[270px] h-[490px] my-0 mx-5 group main-container cursor-pointer text-gray-100">
                <div class="w-[230px] absolute top-0 left-5 group-hover:z-[40]">
                    <span><img class="w-full shadow-lg shadow-blue-700" src="/media/{{i.image}}"
                            alt="book"></span>
                </div>
                <div
                    class="flex flex-col items-center rounded absolute opacity-0 group-hover:opacity-100 bg-gray-900 w-[270px] h-[490px] top-5 shadow-md shadow-blue-500 ticket-container animate-bounce">
                    <div class="w-full absolute bottom-0 text-center">
                        <h4 class="uppercase mb-1 text-lg font-bold">Author: {{i.Author}}</h4>
                        <p class="text-sm mb-5 px-1">
                            {{i.Title}}
                        </p>
                        <div class="flex items-center justify-start w-full py-2">
                            <img class="w-10 h-10 rounded-full ml-4"
                                src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg"
                                alt="Avatar of Jonathan Reinink">
                            <div class="text-sm flex space-x-2 m-auto">
                                <p class="leading-none text-base font-semibold">{{user.first_name}} {{user.last_name}}</p>
                                <p class="text-grey-dark">Aug 18</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{%endblock%}